Resource/Clipboard/IBM/Flow_1.txt
[{"id":"969f27e6.540b88","type":"json","z":"59916a25.6d6174","name":"","property":"payload","action":"obj","pretty":false,"x":210,"y":40,"wires":[["80b1422a.146c"]]},{"id":"6632178.6d770e8","type":"ibmiot in","z":"59916a25.6d6174","authentication":"apiKey","apiKey":"966e4718.5de468","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"DataESP8889","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":70,"y":40,"wires":[["969f27e6.540b88","8674bfcd.f84b6"]]},{"id":"80b1422a.146c","type":"change","z":"59916a25.6d6174","name":"iottdt","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.DataESP8889.msg_in","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":40,"wires":[["c66291.d60bdd7","bdbeef87.03e28"]]},{"id":"8674bfcd.f84b6","type":"cloudant out","z":"59916a25.6d6174","name":"InsertToDB","cloudant":"","database":"doan2","service":"IotTDT-cloudantNoSQLDB","payonly":false,"operation":"insert","x":230,"y":120,"wires":[]},{"id":"c66291.d60bdd7","type":"ui_chart","z":"59916a25.6d6174","name":"","group":"7fae73d7.512aec","order":0,"width":0,"height":0,"label":"Nhiệt độ tại ESP 8889","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":540,"y":80,"wires":[[],[]]},{"id":"bdbeef87.03e28","type":"ui_gauge","z":"59916a25.6d6174","name":"","group":"5136a57f.15898c","order":0,"width":0,"height":0,"gtype":"gage","title":"Nhiệt độ tại ESP 8889","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":40,"wires":[]},{"id":"966e4718.5de468","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"7fae73d7.512aec","type":"ui_group","z":"","name":"Biểu Đồ","tab":"ffcf5463.7f52c8","order":2,"disp":true,"width":"6"},{"id":"5136a57f.15898c","type":"ui_group","z":"","name":"Hiện tại","tab":"ffcf5463.7f52c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"ffcf5463.7f52c8","type":"ui_tab","z":"","name":"Giám sát nhiệt độ độ ẩm","icon":"dashboard"}]