Resource/Clipboard/IBM/Flow_3.txt
[{"id":"db4843be.d812f","type":"ui_chart","z":"83f9898.8759578","name":"","group":"7fae73d7.512aec","order":0,"width":0,"height":0,"label":"Độ ẩm tại UNO RF","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":850,"y":80,"wires":[[],[]]},{"id":"536d2275.25b89c","type":"ui_gauge","z":"83f9898.8759578","name":"","group":"5136a57f.15898c","order":0,"width":0,"height":0,"gtype":"gage","title":"Độ ẩm tại UNO RF","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":40,"wires":[]},{"id":"22634926.26d536","type":"ui_chart","z":"83f9898.8759578","name":"","group":"7fae73d7.512aec","order":0,"width":0,"height":0,"label":"Nhiệt độ tại UNO RF","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":860,"y":160,"wires":[[],[]]},{"id":"893ec493.339ca8","type":"ui_gauge","z":"83f9898.8759578","name":"","group":"5136a57f.15898c","order":0,"width":0,"height":0,"gtype":"gage","title":"Nhiệt độ tại Uno RF","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#0000ff"],"seg1":"","seg2":"","x":850,"y":200,"wires":[]},{"id":"46dc61f2.77f2e","type":"ibmiot in","z":"83f9898.8759578","authentication":"apiKey","apiKey":"966e4718.5de468","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"DataUnoRF","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":70,"y":60,"wires":[["c46245b8.5d17c8","35349ff.d8f8f6"]]},{"id":"c46245b8.5d17c8","type":"json","z":"83f9898.8759578","name":"","property":"payload","action":"obj","pretty":false,"x":310,"y":60,"wires":[["8d5d45df.9f9fd8","bdd48a4d.1457e8","74810ab7.55f824"]]},{"id":"8d5d45df.9f9fd8","type":"change","z":"83f9898.8759578","name":"iottdt","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.DataUnoRFHum.msg_in_doam","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":60,"wires":[["536d2275.25b89c","db4843be.d812f"]]},{"id":"bdd48a4d.1457e8","type":"change","z":"83f9898.8759578","name":"iottdt","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.DataUnoRFTemp.msg_in_nhietdo","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":160,"wires":[["22634926.26d536","893ec493.339ca8"]]},{"id":"35349ff.d8f8f6","type":"cloudant out","z":"83f9898.8759578","name":"InsertToDB","cloudant":"","database":"doan2","service":"IotTDT-cloudantNoSQLDB","payonly":false,"operation":"insert","x":330,"y":160,"wires":[]},{"id":"74810ab7.55f824","type":"change","z":"83f9898.8759578","name":"iottdt","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.DataUnoRFTemp35.msg_in_nhietdo35","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":260,"wires":[["59aebdc8.5b47d4","a327a181.5169f"]]},{"id":"59aebdc8.5b47d4","type":"ui_chart","z":"83f9898.8759578","name":"","group":"7fae73d7.512aec","order":0,"width":0,"height":0,"label":"Nhiệt độ tại UNO RF 35","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":870,"y":260,"wires":[[],[]]},{"id":"a327a181.5169f","type":"ui_gauge","z":"83f9898.8759578","name":"","group":"5136a57f.15898c","order":0,"width":0,"height":0,"gtype":"gage","title":"Nhiệt độ tại Uno RF 35","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#0000ff"],"seg1":"","seg2":"","x":860,"y":300,"wires":[]},{"id":"7fae73d7.512aec","type":"ui_group","z":"","name":"Biểu Đồ","tab":"ffcf5463.7f52c8","order":2,"disp":true,"width":"6"},{"id":"5136a57f.15898c","type":"ui_group","z":"","name":"Hiện tại","tab":"ffcf5463.7f52c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"966e4718.5de468","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"ffcf5463.7f52c8","type":"ui_tab","z":"","name":"Giám sát nhiệt độ độ ẩm","icon":"dashboard"}]