Resource/Clipboard/IBM/Flow_4.txt
[{"id":"8699eae2.211e08","type":"ui_button","z":"6c249f6f.dc17b","name":"","group":"33d08d51.dad552","order":1,"width":0,"height":0,"passthru":false,"label":"Test LED và còi","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":100,"y":40,"wires":[["ec0f6762.210c48"]]},{"id":"e642b7b8.ce3d98","type":"ui_switch","z":"6c249f6f.dc17b","name":"","label":"LED Raspberry","group":"33d08d51.dad552","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":100,"y":80,"wires":[["e5d37bc2.a40828"]]},{"id":"6e270391.821f8c","type":"ui_switch","z":"6c249f6f.dc17b","name":"","label":"Còi Raspberry","group":"33d08d51.dad552","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"str","onicon":"","oncolor":"","offvalue":"1","offvalueType":"str","officon":"","offcolor":"","x":100,"y":120,"wires":[["88dd40ab.1a8ae"]]},{"id":"a20ecfb.4f34b3","type":"ui_button","z":"6c249f6f.dc17b","name":"","group":"33d08d51.dad552","order":5,"width":0,"height":0,"passthru":false,"label":"LED báo hiệu ESP 8889","color":"","bgcolor":"","icon":"","payload":"2\\n","payloadType":"str","topic":"","x":130,"y":180,"wires":[["4935972e.ab6858"]]},{"id":"14da52f3.625c1d","type":"ui_switch","z":"6c249f6f.dc17b","name":"","label":"LED ESP 8889","group":"33d08d51.dad552","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1\\n","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0\\n","offvalueType":"str","officon":"","offcolor":"","x":100,"y":260,"wires":[["42e17915.f0f5a8"]]},{"id":"ca384c85.6cdee","type":"ui_button","z":"6c249f6f.dc17b","name":"","group":"33d08d51.dad552","order":8,"width":0,"height":0,"passthru":false,"label":"LED báo hiệu ESP 8899","color":"","bgcolor":"","icon":"","payload":"2\\n","payloadType":"str","topic":"","x":130,"y":320,"wires":[["5bcd3ea5.03f3"]]},{"id":"9dc33f51.d0d93","type":"ui_switch","z":"6c249f6f.dc17b","name":"","label":"LED ESP 8899","group":"33d08d51.dad552","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1\\n","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0\\n","offvalueType":"str","officon":"","offcolor":"","x":100,"y":400,"wires":[["d218299e.109a08"]]},{"id":"d365260a.a7a408","type":"ui_button","z":"6c249f6f.dc17b","name":"","group":"33d08d51.dad552","order":4,"width":0,"height":0,"passthru":false,"label":"Đo ngay ESP8889","color":"","bgcolor":"","icon":"","payload":"3\\n","payloadType":"str","topic":"","x":110,"y":220,"wires":[["3520d907.df6676"]]},{"id":"15251dc5.a0e602","type":"ui_button","z":"6c249f6f.dc17b","name":"","group":"33d08d51.dad552","order":7,"width":0,"height":0,"passthru":false,"label":"Đo ngay ESP8899","color":"","bgcolor":"","icon":"","payload":"3\\n","payloadType":"str","topic":"","x":110,"y":360,"wires":[["fe3d4011.4c034"]]},{"id":"c99ffcf3.aff6a","type":"ui_button","z":"6c249f6f.dc17b","name":"","group":"33d08d51.dad552","order":11,"width":0,"height":0,"passthru":false,"label":"LED báo hiệu Uno RF","color":"","bgcolor":"","icon":"","payload":"2\\n","payloadType":"str","topic":"","x":120,"y":460,"wires":[["f4c447f9.525338"]]},{"id":"6c4b4f9b.a774","type":"ui_button","z":"6c249f6f.dc17b","name":"","group":"33d08d51.dad552","order":10,"width":0,"height":0,"passthru":false,"label":"Đo ngay Uno RF","color":"","bgcolor":"","icon":"","payload":"3\\n","payloadType":"str","topic":"","x":110,"y":500,"wires":[["2ad93d29.641432"]]},{"id":"b4a6cc60.c51d4","type":"ui_switch","z":"6c249f6f.dc17b","name":"","label":"LED Uno RF","group":"33d08d51.dad552","order":12,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1\\n","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0\\n","offvalueType":"str","officon":"","offcolor":"","x":90,"y":540,"wires":[["f4f1c27b.11d08"]]},{"id":"ec0f6762.210c48","type":"function","z":"6c249f6f.dc17b","name":"toJSON","func":"var msg_RaspTest = 1;\nmsg.payload = {\"CommandRaspTest\":{msg_RaspTest}};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":40,"wires":[["1f25c315.0ca05d"]]},{"id":"1f25c315.0ca05d","type":"ibmiot out","z":"6c249f6f.dc17b","authentication":"apiKey","apiKey":"966e4718.5de468","outputType":"evt","deviceId":"Rasp1","deviceType":"RaspberryPi","eventCommandType":"CommandIBM","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":540,"y":280,"wires":[]},{"id":"e5d37bc2.a40828","type":"function","z":"6c249f6f.dc17b","name":"toJSON","func":"var msg_RaspLed = msg.payload;\nmsg.payload = {\"CommandRaspLed\":{msg_RaspLed}};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":80,"wires":[["1f25c315.0ca05d"]]},{"id":"88dd40ab.1a8ae","type":"function","z":"6c249f6f.dc17b","name":"toJSON","func":"var msg_RaspBuzz = msg.payload;\nmsg.payload = {\"CommandRaspBuzz\":{msg_RaspBuzz}};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["1f25c315.0ca05d"]]},{"id":"4935972e.ab6858","type":"function","z":"6c249f6f.dc17b","name":"toJSON","func":"var msg_ESP8889Led = msg.payload;\nmsg.payload = {\"CommandESP8889Led\":{msg_ESP8889Led}};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":180,"wires":[["1f25c315.0ca05d"]]},{"id":"3520d907.df6676","type":"function","z":"6c249f6f.dc17b","name":"toJSON","func":"var msg_ESP8889Do = msg.payload;\nmsg.payload = {\"CommandESP8889Do\":{msg_ESP8889Do}};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["1f25c315.0ca05d"]]},{"id":"42e17915.f0f5a8","type":"function","z":"6c249f6f.dc17b","name":"toJSON","func":"var msg_ESP8889LedControl = msg.payload;\nmsg.payload = {\"CommandESP8889LedControl\":{msg_ESP8889LedControl}};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":260,"wires":[["1f25c315.0ca05d"]]},{"id":"5bcd3ea5.03f3","type":"function","z":"6c249f6f.dc17b","name":"toJSON","func":"var msg_ESP8899Led = msg.payload;\nmsg.payload = {\"CommandESP8899Led\":{msg_ESP8899Led}};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":320,"wires":[["1f25c315.0ca05d"]]},{"id":"fe3d4011.4c034","type":"function","z":"6c249f6f.dc17b","name":"toJSON","func":"var msg_ESP8899Do = msg.payload;\nmsg.payload = {\"CommandESP8899Do\":{msg_ESP8899Do}};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":360,"wires":[["1f25c315.0ca05d"]]},{"id":"d218299e.109a08","type":"function","z":"6c249f6f.dc17b","name":"toJSON","func":"var msg_ESP8899LedControl = msg.payload;\nmsg.payload = {\"CommandESP8899LedControl\":{msg_ESP8899LedControl}};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":400,"wires":[["1f25c315.0ca05d"]]},{"id":"f4c447f9.525338","type":"function","z":"6c249f6f.dc17b","name":"toJSON","func":"var msg_UnoRFLed = msg.payload;\nmsg.payload = {\"CommandUnoRFLed\":{msg_UnoRFLed}};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":460,"wires":[["1f25c315.0ca05d"]]},{"id":"2ad93d29.641432","type":"function","z":"6c249f6f.dc17b","name":"toJSON","func":"var msg_UnoRFDo = msg.payload;\nmsg.payload = {\"CommandUnoRFDo\":{msg_UnoRFDo}};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":500,"wires":[["1f25c315.0ca05d"]]},{"id":"f4f1c27b.11d08","type":"function","z":"6c249f6f.dc17b","name":"toJSON","func":"var msg_UnoRFLedControl = msg.payload;\nmsg.payload = {\"CommandUnoRFLedControl\":{msg_UnoRFLedControl}};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":540,"wires":[["1f25c315.0ca05d"]]},{"id":"166c63a0.de994c","type":"ibmiot in","z":"6c249f6f.dc17b","authentication":"apiKey","apiKey":"966e4718.5de468","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"CommandRasp","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":550,"y":360,"wires":[["cd480aec.ea77c8"]]},{"id":"cd480aec.ea77c8","type":"json","z":"6c249f6f.dc17b","name":"","property":"payload","action":"obj","pretty":false,"x":670,"y":360,"wires":[["8e131ead.c6435","6d33f814.5b5458","17e0ef90.0a7cd","4cac18da.eb2d88","3408df1a.dd34"]]},{"id":"8e131ead.c6435","type":"change","z":"6c249f6f.dc17b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.CommandRaspLed.msg_RaspLed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":240,"wires":[["dc6de22d.fdcba"]]},{"id":"dc6de22d.fdcba","type":"change","z":"6c249f6f.dc17b","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":240,"wires":[["dcffd85c.f3eb88"]]},{"id":"dcffd85c.f3eb88","type":"ui_switch","z":"6c249f6f.dc17b","name":"","label":"LED Raspberry","group":"689b9a93.e99d34","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1280,"y":240,"wires":[[]]},{"id":"6d33f814.5b5458","type":"change","z":"6c249f6f.dc17b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.CommandRaspBuzz.msg_RaspBuzz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":300,"wires":[["d61e4afe.833208"]]},{"id":"d61e4afe.833208","type":"change","z":"6c249f6f.dc17b","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":300,"wires":[["28404174.5dee5e"]]},{"id":"28404174.5dee5e","type":"ui_switch","z":"6c249f6f.dc17b","name":"","label":"Còi Raspberry","group":"689b9a93.e99d34","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":1280,"y":300,"wires":[[]]},{"id":"17e0ef90.0a7cd","type":"change","z":"6c249f6f.dc17b","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":360,"wires":[["3007ec85.d25934"]]},{"id":"3007ec85.d25934","type":"change","z":"6c249f6f.dc17b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.CommandESP8889LedControl.msg_ESP8889LedControl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":360,"wires":[["23aa5039.2949b"]]},{"id":"23aa5039.2949b","type":"ui_switch","z":"6c249f6f.dc17b","name":"","label":"LED ESP 8889","group":"689b9a93.e99d34","order":6,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1\\n","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0\\n","offvalueType":"str","officon":"","offcolor":"","x":1280,"y":360,"wires":[[]]},{"id":"4cac18da.eb2d88","type":"change","z":"6c249f6f.dc17b","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1\\n","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0\\n","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":420,"wires":[["b47e7111.44c9b"]]},{"id":"b47e7111.44c9b","type":"change","z":"6c249f6f.dc17b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.CommandESP8899LedControl.msg_ESP8899LedControl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":420,"wires":[["50f5f7f0.9afc78"]]},{"id":"50f5f7f0.9afc78","type":"ui_switch","z":"6c249f6f.dc17b","name":"","label":"LED ESP 8899","group":"689b9a93.e99d34","order":9,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1\\n","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0\\n","offvalueType":"str","officon":"","offcolor":"","x":1280,"y":420,"wires":[[]]},{"id":"3408df1a.dd34","type":"change","z":"6c249f6f.dc17b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.CommandUnoRFLedControl.msg_UnoRFLedControl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":480,"wires":[["54a01cde.0bf874"]]},{"id":"54a01cde.0bf874","type":"change","z":"6c249f6f.dc17b","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1/n","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0/n","fromt":"str","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":480,"wires":[["c872f66f.33aae8"]]},{"id":"c872f66f.33aae8","type":"ui_switch","z":"6c249f6f.dc17b","name":"","label":"LED Uno RF","group":"689b9a93.e99d34","order":12,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1\\n","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0\\n","offvalueType":"str","officon":"","offcolor":"","x":1270,"y":480,"wires":[[]]},{"id":"33d08d51.dad552","type":"ui_group","z":"","name":"Điều khiển","tab":"ffcf5463.7f52c8","order":3,"disp":true,"width":"6","collapse":false},{"id":"966e4718.5de468","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"689b9a93.e99d34","type":"ui_group","z":"","name":"Trạng thái Raspberru Pi","tab":"ffcf5463.7f52c8","order":4,"disp":true,"width":"6","collapse":false},{"id":"ffcf5463.7f52c8","type":"ui_tab","z":"","name":"Giám sát nhiệt độ độ ẩm","icon":"dashboard"}]