Resource/Clipboard/Raspberry_pi/Flow_4.txt
[{"id":"f3d54b83.6525f8","type":"json","z":"875d9784.1c40c8","name":"","property":"payload","action":"obj","pretty":false,"x":310,"y":40,"wires":[["513005fa.72dfcc","ada11041.16f4","75481cc0.ce15a4","9c13cd7e.4eada","2246a33c.ec9dcc","cbf1ad4a.354b9","1655d5dd.409fba","5a575873.00d1b8","c5eb9695.7a11a8","68e3853b.d9e9dc","e61312aa.5ec2d","a38af839.c11e48"]]},{"id":"a447858d.c88058","type":"ibmiot in","z":"875d9784.1c40c8","authentication":"apiKey","apiKey":"758eb3e8.d7ab4c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"CommandIBM","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":110,"y":40,"wires":[["f3d54b83.6525f8"]]},{"id":"513005fa.72dfcc","type":"change","z":"875d9784.1c40c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.CommandESP8889Led.msg_ESP8889Led","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":300,"wires":[["29509433.d0114c"]]},{"id":"ada11041.16f4","type":"change","z":"875d9784.1c40c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.CommandESP8889Do.msg_ESP8889Do","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":380,"wires":[["29509433.d0114c"]]},{"id":"75481cc0.ce15a4","type":"change","z":"875d9784.1c40c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.CommandESP8899Led.msg_ESP8899Led","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":520,"wires":[["63833415.b308bc"]]},{"id":"9c13cd7e.4eada","type":"change","z":"875d9784.1c40c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.CommandESP8899Do.msg_ESP8899Do","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":600,"wires":[["63833415.b308bc"]]},{"id":"2246a33c.ec9dcc","type":"change","z":"875d9784.1c40c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.CommandUnoRFLed.msg_UnoRFLed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":760,"wires":[["104c65a0.4dd55a"]]},{"id":"cbf1ad4a.354b9","type":"change","z":"875d9784.1c40c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.CommandRaspTest.msg_RaspTest","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":160,"wires":[["d2247e4b.0f507"]]},{"id":"1655d5dd.409fba","type":"change","z":"875d9784.1c40c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.CommandUnoRFDo.msg_UnoRFDo","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":840,"wires":[["104c65a0.4dd55a"]]},{"id":"5a575873.00d1b8","type":"switch","z":"875d9784.1c40c8","name":"","property":"payload.CommandRaspLed.msg_RaspLed","propertyType":"msg","rules":[{"t":"neq","v":"null","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":40,"wires":[["7823891.e3da678"]]},{"id":"c5eb9695.7a11a8","type":"switch","z":"875d9784.1c40c8","name":"","property":"payload.CommandRaspBuzz.msg_RaspBuzz","propertyType":"msg","rules":[{"t":"neq","v":"null","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":100,"wires":[["a2792610.d44508"]]},{"id":"68e3853b.d9e9dc","type":"switch","z":"875d9784.1c40c8","name":"","property":"payload.CommandESP8889LedControl.msg_ESP8889LedControl","propertyType":"msg","rules":[{"t":"neq","v":"null","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":260,"wires":[["15a64adc.8cb3c5","8c7b938b.2c3f3"]]},{"id":"e61312aa.5ec2d","type":"switch","z":"875d9784.1c40c8","name":"","property":"payload.CommandESP8899LedControl.msg_ESP8899LedControl","propertyType":"msg","rules":[{"t":"neq","v":"null","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":480,"wires":[["174aeae8.a228b5"]]},{"id":"a38af839.c11e48","type":"switch","z":"875d9784.1c40c8","name":"","property":"payload.CommandUnoRFLedControl.msg_UnoRFLedControl","propertyType":"msg","rules":[{"t":"neq","v":"null","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":720,"wires":[["695adca7.7d2e74"]]},{"id":"29509433.d0114c","type":"udp out","z":"875d9784.1c40c8","name":"UDP Sent ESP 8889","addr":"192.168.1.89","iface":"","port":"8889","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1360,"y":380,"wires":[]},{"id":"63833415.b308bc","type":"udp out","z":"875d9784.1c40c8","name":"UDP Sent ESP 8899","addr":"192.168.1.99","iface":"","port":"8899","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1360,"y":600,"wires":[]},{"id":"104c65a0.4dd55a","type":"serial out","z":"875d9784.1c40c8","name":"","serial":"1d2890f3.8de5ef","x":1330,"y":840,"wires":[]},{"id":"d2247e4b.0f507","type":"switch","z":"875d9784.1c40c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":160,"wires":[["3ecbe550.181d7a","d2e5a4b7.039028"]]},{"id":"7823891.e3da678","type":"change","z":"875d9784.1c40c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.CommandRaspLed.msg_RaspLed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":40,"wires":[["4ea65a87.88f1a4"]]},{"id":"a2792610.d44508","type":"change","z":"875d9784.1c40c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.CommandRaspBuzz.msg_RaspBuzz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":100,"wires":[["838e490a.97ad68"]]},{"id":"15a64adc.8cb3c5","type":"change","z":"875d9784.1c40c8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":260,"wires":[["a0d82e42.e931e"]]},{"id":"8c7b938b.2c3f3","type":"debug","z":"875d9784.1c40c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":460,"wires":[]},{"id":"174aeae8.a228b5","type":"change","z":"875d9784.1c40c8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1\\n","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0\\n","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":480,"wires":[["51f95248.1b769c"]]},{"id":"695adca7.7d2e74","type":"change","z":"875d9784.1c40c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.CommandUnoRFLedControl.msg_UnoRFLedControl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":720,"wires":[["c76ca273.c0767"]]},{"id":"dbb80d5c.692a","type":"ui_button","z":"875d9784.1c40c8","name":"","group":"a398b16a.98104","order":5,"width":0,"height":0,"passthru":false,"label":"LED báo hiệu ESP 8889","color":"","bgcolor":"","icon":"","payload":"2\\n","payloadType":"str","topic":"","x":710,"y":340,"wires":[["29509433.d0114c"]]},{"id":"e1e9a401.ad1318","type":"ui_switch","z":"875d9784.1c40c8","name":"","label":"LED ESP 8889","group":"a398b16a.98104","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1\\n","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0\\n","offvalueType":"str","officon":"","offcolor":"","x":1120,"y":260,"wires":[["29509433.d0114c","7d79a42d.7889ec"]]},{"id":"2b4725d3.e4fe5a","type":"ui_button","z":"875d9784.1c40c8","name":"","group":"a398b16a.98104","order":4,"width":0,"height":0,"passthru":false,"label":"Đo ngay ESP8889","color":"","bgcolor":"","icon":"","payload":"3\\n","payloadType":"str","topic":"","x":690,"y":420,"wires":[["29509433.d0114c"]]},{"id":"431d1743.b49b68","type":"ui_button","z":"875d9784.1c40c8","name":"","group":"a398b16a.98104","order":8,"width":0,"height":0,"passthru":false,"label":"LED báo hiệu ESP 8899","color":"","bgcolor":"","icon":"","payload":"2\\n","payloadType":"str","topic":"","x":710,"y":560,"wires":[["63833415.b308bc"]]},{"id":"26ff4924.508476","type":"ui_switch","z":"875d9784.1c40c8","name":"","label":"LED ESP 8899","group":"a398b16a.98104","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1\\n","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0\\n","offvalueType":"str","officon":"","offcolor":"","x":1120,"y":480,"wires":[["63833415.b308bc","504d2ae6.a52c04"]]},{"id":"9745f563.e44a18","type":"ui_button","z":"875d9784.1c40c8","name":"","group":"a398b16a.98104","order":7,"width":0,"height":0,"passthru":false,"label":"Đo ngay ESP8899","color":"","bgcolor":"","icon":"","payload":"3\\n","payloadType":"str","topic":"","x":690,"y":640,"wires":[["63833415.b308bc"]]},{"id":"5d42611.bfe71a","type":"ui_button","z":"875d9784.1c40c8","name":"","group":"a398b16a.98104","order":11,"width":0,"height":0,"passthru":false,"label":"LED báo hiệu Uno RF","color":"","bgcolor":"","icon":"","payload":"2\\n","payloadType":"str","topic":"","x":700,"y":800,"wires":[["104c65a0.4dd55a"]]},{"id":"a5fbc0e7.0d7ed","type":"ui_button","z":"875d9784.1c40c8","name":"","group":"a398b16a.98104","order":10,"width":0,"height":0,"passthru":false,"label":"Đo ngay Uno RF","color":"","bgcolor":"","icon":"","payload":"3\\n","payloadType":"str","topic":"","x":690,"y":880,"wires":[["104c65a0.4dd55a"]]},{"id":"cb452a4b.3cdcd8","type":"ui_switch","z":"875d9784.1c40c8","name":"","label":"LED Uno RF","group":"a398b16a.98104","order":12,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1\\n","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0\\n","offvalueType":"str","officon":"","offcolor":"","x":1110,"y":720,"wires":[["104c65a0.4dd55a","bdb42cf.21d3ad"]]},{"id":"3ecbe550.181d7a","type":"trigger","z":"875d9784.1c40c8","op1":"0","op2":"1","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1100,"y":160,"wires":[["3179cf71.aa7a1"]]},{"id":"d2e5a4b7.039028","type":"trigger","z":"875d9784.1c40c8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1100,"y":200,"wires":[["130faf67.8a41b1"]]},{"id":"4ea65a87.88f1a4","type":"change","z":"875d9784.1c40c8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":40,"wires":[["c8242215.c061f"]]},{"id":"838e490a.97ad68","type":"change","z":"875d9784.1c40c8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":100,"wires":[["9a6c885e.209408"]]},{"id":"a0d82e42.e931e","type":"change","z":"875d9784.1c40c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.CommandESP8889LedControl.msg_ESP8889LedControl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":260,"wires":[["e1e9a401.ad1318"]]},{"id":"51f95248.1b769c","type":"change","z":"875d9784.1c40c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.CommandESP8899LedControl.msg_ESP8899LedControl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":480,"wires":[["26ff4924.508476"]]},{"id":"c76ca273.c0767","type":"change","z":"875d9784.1c40c8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1/n","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0/n","fromt":"str","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":720,"wires":[["cb452a4b.3cdcd8"]]},{"id":"7d79a42d.7889ec","type":"function","z":"875d9784.1c40c8","name":"toJSON","func":"var msg_ESP8889LedControl = msg.payload;\nmsg.payload = {\"CommandESP8889LedControl\":{msg_ESP8889LedControl}};\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":260,"wires":[["410d495f.e12078"]]},{"id":"504d2ae6.a52c04","type":"function","z":"875d9784.1c40c8","name":"toJSON","func":"var msg_ESP8899LedControl = msg.payload;\nmsg.payload = {\"CommandESP8899LedControl\":{msg_ESP8899LedControl}};\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":480,"wires":[["410d495f.e12078"]]},{"id":"bdb42cf.21d3ad","type":"function","z":"875d9784.1c40c8","name":"toJSON","func":"var msg_UnoRFLedControl = msg.payload;\nmsg.payload = {\"CommandUnoRFLedControl\":{msg_UnoRFLedControl}};\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":720,"wires":[["410d495f.e12078"]]},{"id":"33bac91.18c8b36","type":"ui_button","z":"875d9784.1c40c8","name":"","group":"a398b16a.98104","order":1,"width":0,"height":0,"passthru":false,"label":"Test LED và còi","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":680,"y":200,"wires":[["3ecbe550.181d7a","d2e5a4b7.039028"]]},{"id":"3179cf71.aa7a1","type":"rpi-gpio out","z":"875d9784.1c40c8","name":"Còi","pin":"37","set":"","level":"0","freq":"","out":"out","x":1310,"y":200,"wires":[]},{"id":"130faf67.8a41b1","type":"rpi-gpio out","z":"875d9784.1c40c8","name":"Đèn Led","pin":"38","set":true,"level":"0","freq":"","out":"out","x":1320,"y":140,"wires":[]},{"id":"c8242215.c061f","type":"ui_switch","z":"875d9784.1c40c8","name":"","label":"LED Raspberry","group":"a398b16a.98104","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1120,"y":40,"wires":[["130faf67.8a41b1","4eb3bb18.856714"]]},{"id":"9a6c885e.209408","type":"ui_switch","z":"875d9784.1c40c8","name":"","label":"Còi Raspberry","group":"a398b16a.98104","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":1120,"y":100,"wires":[["3179cf71.aa7a1","1c525f11.ba3f21"]]},{"id":"410d495f.e12078","type":"ibmiot out","z":"875d9784.1c40c8","authentication":"apiKey","apiKey":"758eb3e8.d7ab4c","outputType":"evt","deviceId":"Rasp1","deviceType":"RaspberryPi","eventCommandType":"CommandRasp","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":1600,"y":420,"wires":[]},{"id":"4eb3bb18.856714","type":"function","z":"875d9784.1c40c8","name":"toJSON","func":"var msg_RaspLed = msg.payload;\nmsg.payload = {\"CommandRaspLed\":{msg_RaspLed}};\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":40,"wires":[["410d495f.e12078"]]},{"id":"1c525f11.ba3f21","type":"function","z":"875d9784.1c40c8","name":"toJSON","func":"var msg_RaspBuzz = msg.payload;\nmsg.payload = {\"CommandRaspBuzz\":{msg_RaspBuzz}};\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":100,"wires":[["410d495f.e12078"]]},{"id":"758eb3e8.d7ab4c","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"1d2890f3.8de5ef","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"a398b16a.98104","type":"ui_group","z":"","name":"Điều khiển","tab":"bff301ae.d0614","order":3,"disp":true,"width":"6","collapse":false},{"id":"bff301ae.d0614","type":"ui_tab","z":"","name":"Giám sát nhiệt độ độ ẩm","icon":"dashboard"}]