Resource/Clipboard/Raspberry_pi/Flow_3.txt
[{"id":"76e51bb9.fae164","type":"serial in","z":"361a7304.5467cc","name":"","serial":"1d2890f3.8de5ef","x":90,"y":40,"wires":[["f41d373d.e48998","871a245b.deeb28","c09f2465.549108","6a84a494.c868dc"]]},{"id":"8cef3960.9d3fc8","type":"serial out","z":"361a7304.5467cc","name":"","serial":"1d2890f3.8de5ef","x":1150,"y":260,"wires":[]},{"id":"6fc1d386.340a9c","type":"function","z":"361a7304.5467cc","name":"sentCommandTurnLedOn(1)","func":"msg.payload=\"3\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":260,"wires":[["8cef3960.9d3fc8"]]},{"id":"3816b723.c02118","type":"switch","z":"361a7304.5467cc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"50","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":260,"wires":[["6fc1d386.340a9c"]]},{"id":"f41d373d.e48998","type":"function","z":"361a7304.5467cc","name":"getTempToCompare","func":"var msg_in = msg.payload;\nvar msg_out;\n\nmsg_out = msg_in.substring(0,4);\n\nreturn {payload: msg_out};","outputs":1,"noerr":0,"x":340,"y":180,"wires":[["3816b723.c02118","5b3071f6.243c8","2112cae.a677036"]]},{"id":"abcf2434.761288","type":"ibmiot out","z":"361a7304.5467cc","authentication":"apiKey","apiKey":"758eb3e8.d7ab4c","outputType":"evt","deviceId":"Rasp1","deviceType":"RaspberryPi","eventCommandType":"DataUnoRF","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":1140,"y":40,"wires":[]},{"id":"c09f2465.549108","type":"function","z":"361a7304.5467cc","name":"toJSON ","func":"var msg_in = msg.payload;\nvar msg_in_nhietdo = msg_in.substring(0,4);\nvar msg_in_doam = msg_in.substring(6,11);\nvar msg_in_nhietdo35 = msg_in.substring(12,18);\nmsg.payload = {\"DataUnoRFTemp\":{msg_in_nhietdo},\"DataUnoRFHum\":{msg_in_doam},\"DataUnoRFTemp35\":{msg_in_nhietdo35}};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":40,"wires":[["abcf2434.761288","62b648ae.f59258"]]},{"id":"871a245b.deeb28","type":"function","z":"361a7304.5467cc","name":"getHumToCompare","func":"var msg_in = msg.payload;\nvar msg_out;\n\nmsg_out = msg_in.substring(6,11);\n\nreturn {payload: msg_out};","outputs":1,"noerr":0,"x":330,"y":80,"wires":[["cc0153d8.6f00e","d0f126f9.ecaf48"]]},{"id":"5b3071f6.243c8","type":"ui_chart","z":"361a7304.5467cc","name":"","group":"1d1c9466.03100c","order":0,"width":0,"height":0,"label":"Nhiệt độ tại UNO RF","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":640,"y":180,"wires":[[],[]]},{"id":"cc0153d8.6f00e","type":"ui_chart","z":"361a7304.5467cc","name":"","group":"1d1c9466.03100c","order":0,"width":0,"height":0,"label":"Độ ẩm tại UNO RF","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":630,"y":120,"wires":[[],[]]},{"id":"2112cae.a677036","type":"ui_gauge","z":"361a7304.5467cc","name":"","group":"81863317.89a48","order":0,"width":0,"height":0,"gtype":"gage","title":"Nhiệt độ tại Uno RF","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#0000ff"],"seg1":"","seg2":"","x":630,"y":220,"wires":[]},{"id":"d0f126f9.ecaf48","type":"ui_gauge","z":"361a7304.5467cc","name":"","group":"81863317.89a48","order":0,"width":0,"height":0,"gtype":"gage","title":"Độ ẩm tại UNO RF","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":80,"wires":[]},{"id":"388aa62f.7e457a","type":"inject","z":"361a7304.5467cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":300,"wires":[["6fc1d386.340a9c"]]},{"id":"6a84a494.c868dc","type":"function","z":"361a7304.5467cc","name":"getTemp35ToCompare","func":"var msg_in = msg.payload;\nvar msg_out;\n\nmsg_out = msg_in.substring(12,17);\n\nreturn {payload: msg_out};","outputs":1,"noerr":0,"x":340,"y":360,"wires":[["57018337.70097c","e0d901e8.b03d8"]]},{"id":"57018337.70097c","type":"ui_chart","z":"361a7304.5467cc","name":"","group":"1d1c9466.03100c","order":0,"width":0,"height":0,"label":"Nhiệt độ tại LM35 UNO RF","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":660,"y":420,"wires":[[],[]]},{"id":"e0d901e8.b03d8","type":"ui_gauge","z":"361a7304.5467cc","name":"","group":"81863317.89a48","order":0,"width":0,"height":0,"gtype":"gage","title":"Nhiệt độ tại LM35 UNO RF","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":380,"wires":[]},{"id":"62b648ae.f59258","type":"debug","z":"361a7304.5467cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1020,"y":120,"wires":[]},{"id":"1d2890f3.8de5ef","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"758eb3e8.d7ab4c","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"1d1c9466.03100c","type":"ui_group","z":"","name":"Biểu Đồ","tab":"bff301ae.d0614","order":2,"disp":true,"width":"6"},{"id":"81863317.89a48","type":"ui_group","z":"","name":"Hiện tại","tab":"bff301ae.d0614","order":1,"disp":true,"width":"6"},{"id":"bff301ae.d0614","type":"ui_tab","z":"","name":"Giám sát nhiệt độ độ ẩm","icon":"dashboard"}]