Resource/Clipboard/Raspberry_pi/Flow_2.txt
[{"id":"d6efaeea.f746e","type":"udp in","z":"3056be12.3669b2","name":"UDP Receive ESP 8889","iface":"","port":"8899","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":130,"y":40,"wires":[["61766d6.f55b694"]]},{"id":"1d5e30aa.ef726f","type":"udp out","z":"3056be12.3669b2","name":"UDP Sent ESP 8899","addr":"192.168.1.99","iface":"","port":"8899","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1220,"y":180,"wires":[]},{"id":"61766d6.f55b694","type":"function","z":"3056be12.3669b2","name":"toString","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":40,"wires":[["84822513.f7b588","33275ed5.94c9a2","51bf9258.b75bcc"]]},{"id":"7fef8b96.e0d274","type":"switch","z":"3056be12.3669b2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":180,"wires":[["73e4640b.01289c"]]},{"id":"73e4640b.01289c","type":"function","z":"3056be12.3669b2","name":"sentCommandTurnLedOn(1)","func":"msg.payload=\"1\";\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":180,"wires":[["1d5e30aa.ef726f"]]},{"id":"84822513.f7b588","type":"function","z":"3056be12.3669b2","name":"toFloatToCompare","func":"var msg_in = msg.payload;\nreturn {payload: msg_in};","outputs":1,"noerr":0,"x":570,"y":120,"wires":[["7fef8b96.e0d274","2074fcab.88ae34"]]},{"id":"d37618ad.070e08","type":"ibmiot out","z":"3056be12.3669b2","authentication":"apiKey","apiKey":"758eb3e8.d7ab4c","outputType":"evt","deviceId":"Rasp1","deviceType":"RaspberryPi","eventCommandType":"DataESP8899","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":1180,"y":120,"wires":[]},{"id":"2074fcab.88ae34","type":"function","z":"3056be12.3669b2","name":"toJSON ","func":"var msg_in = msg.payload;\nmsg.payload = {\"DataESP8899\":{msg_in}};\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":120,"wires":[["d37618ad.070e08"]]},{"id":"33275ed5.94c9a2","type":"ui_chart","z":"3056be12.3669b2","name":"","group":"1d1c9466.03100c","order":0,"width":0,"height":0,"label":"Nhiệt độ tại ESP 8899","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":580,"y":80,"wires":[[],[]]},{"id":"51bf9258.b75bcc","type":"ui_gauge","z":"3056be12.3669b2","name":"","group":"81863317.89a48","order":0,"width":0,"height":0,"gtype":"gage","title":"Nhiệt độ tại ESP 8899","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":40,"wires":[]},{"id":"758eb3e8.d7ab4c","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"1d1c9466.03100c","type":"ui_group","z":"","name":"Biểu Đồ","tab":"bff301ae.d0614","order":2,"disp":true,"width":"6"},{"id":"81863317.89a48","type":"ui_group","z":"","name":"Hiện tại","tab":"bff301ae.d0614","order":1,"disp":true,"width":"6"},{"id":"bff301ae.d0614","type":"ui_tab","z":"","name":"Giám sát nhiệt độ độ ẩm","icon":"dashboard"}]