Resource/Clipboard/Raspberry_pi/Flow_1.txt
[{"id":"4ec53b5.9c3b1c4","type":"udp in","z":"a288e0bf.4d0c5","name":"UDP Receive ESP 8889","iface":"","port":"8889","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":130,"y":40,"wires":[["dc900f67.f530e"]]},{"id":"1179cd10.812bf3","type":"udp out","z":"a288e0bf.4d0c5","name":"UDP Sent ESP 8889","addr":"192.168.1.89","iface":"","port":"8889","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1200,"y":180,"wires":[]},{"id":"dc900f67.f530e","type":"function","z":"a288e0bf.4d0c5","name":"toString","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":40,"wires":[["ab662e6d.ae583","d2d07645.643b58","60729020.c4f2f","462c9e7a.0c7a"]]},{"id":"f2a95664.bf00f8","type":"switch","z":"a288e0bf.4d0c5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":180,"wires":[["d43bb818.b122e8"]]},{"id":"d43bb818.b122e8","type":"function","z":"a288e0bf.4d0c5","name":"sentCommandTurnLedOn(1)","func":"msg.payload=\"1\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":180,"wires":[["1179cd10.812bf3"]]},{"id":"ab662e6d.ae583","type":"function","z":"a288e0bf.4d0c5","name":"toFloatToCompare","func":"var msg_in = msg.payload;\nreturn {payload: msg_in};","outputs":1,"noerr":0,"x":590,"y":180,"wires":[["f2a95664.bf00f8"]]},{"id":"a534ce6f.69da3","type":"ibmiot out","z":"a288e0bf.4d0c5","authentication":"apiKey","apiKey":"758eb3e8.d7ab4c","outputType":"evt","deviceId":"Rasp1","deviceType":"RaspberryPi","eventCommandType":"DataESP8889","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":1160,"y":120,"wires":[]},{"id":"d2d07645.643b58","type":"function","z":"a288e0bf.4d0c5","name":"toJSON ","func":"var msg_in = msg.payload;\nmsg.payload = {\"DataESP8889\":{msg_in}};\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":120,"wires":[["a534ce6f.69da3"]]},{"id":"60729020.c4f2f","type":"ui_chart","z":"a288e0bf.4d0c5","name":"","group":"1d1c9466.03100c","order":0,"width":0,"height":0,"label":"Nhiệt độ tại ESP 8889","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":600,"y":80,"wires":[[],[]]},{"id":"462c9e7a.0c7a","type":"ui_gauge","z":"a288e0bf.4d0c5","name":"","group":"81863317.89a48","order":0,"width":0,"height":0,"gtype":"gage","title":"Nhiệt độ tại ESP 8889","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":40,"wires":[]},{"id":"758eb3e8.d7ab4c","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"1d1c9466.03100c","type":"ui_group","z":"","name":"Biểu Đồ","tab":"bff301ae.d0614","order":2,"disp":true,"width":"6"},{"id":"81863317.89a48","type":"ui_group","z":"","name":"Hiện tại","tab":"bff301ae.d0614","order":1,"disp":true,"width":"6"},{"id":"bff301ae.d0614","type":"ui_tab","z":"","name":"Giám sát nhiệt độ độ ẩm","icon":"dashboard"}]